.basic-info {
    width: 100%;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.form-group textarea {
    resize: none;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

@media(max-width:768px) {

    .grid-2 {

        grid-template-columns: 1fr;

    }

}