.dashboard-chart {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

    gap: 25px;

    margin-bottom: 35px;

}

.chart-card {

    background: #fff;

    padding: 25px;

    border-radius: 18px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

}

.chart-card h2 {

    margin-bottom: 20px;

    font-size: 22px;

    font-weight: 700;

}

@media(max-width:768px) {

    .dashboard-chart {

        grid-template-columns: 1fr;

    }

}