.quick-actions {

    margin-bottom: 35px;

}

.quick-actions h2 {

    margin-bottom: 20px;

    font-size: 24px;

    font-weight: 700;

}

.quick-actions-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

    gap: 20px;

}

.quick-card {

    background: #fff;

    padding: 25px;

    border-radius: 16px;

    text-decoration: none;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 18px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

    transition: .3s;

}

.quick-card:hover {

    transform: translateY(-6px);

}

.quick-icon {

    width: 65px;

    height: 65px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 26px;

    color: #fff;

}

.quick-card h3 {

    font-size: 16px;

    text-align: center;

    color: #111827;

}